[defaults]
remote_user=devops
become=true
inventory=/home/student/ansible-playbooks/inventory
roles_path=/home/student/ansible-playbooks/roles:/usr/share/ansible/roles
collections_path=/home/student/ansible-playbooks/mycollection:/usr/share/ansible/collections
